<div class="recently-reviewed w-full lg:w-3/4 mr-0 lg:mr-32">
    <h2>Recently Reviewed</h2>
    <div class="recently-reviewed-container space-y-12 mt-8">
        {% for game in games %}
            <div class="recently-reviewed-game bg-gray-800 rounded-lg shadow-md flex flex-col lg:flex-row px-8 py-6">
                <div class="relative flex-none">
                    <a href="#">
                        <img src="{{ game['cover']['url']|replace({ 'thumb' : 'cover_big' }) }}" alt="{{ game['name'] }} cover" class="w-full lg:w-48 hover:opacity-75 transition ease-in-out duration-150">
                    </a>
                    {% if game['rating'] is defined %}
                        <div class="rating-circle">
                            <div class="rating-circle-text">{{ game['rating']|round }}%</div>
                        </div>
                    {% endif %}
                </div>
                <div class="ml-0 lg:ml-12">
                    <a href="#" class="block text-lg font-semibold leading-tight hover:text-gray-400 mt-4">{{ game['name'] }}</a>
                    <div class="text-gray-400 mt-1">
                        {% for platform in game['platforms'] %}
                            {% if platform['abbreviation'] is defined %}
                                {{ platform['abbreviation'] }},
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="text-gray-400 mt-6 hidden lg:block">
                        {{ game['summary']|slice(0, 250) }}...
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
